<div class="container">
    <h1>Gray Area on When to use Different Rendering Modes CSR, SSR, SSG</h1>
    <img src="https://miro.medium.com/max/1400/1*XaG_-nWoWTKqdN8lAKeIxg.jpeg" alt="">

    <h1>Introduction:</h1>
    <p>Over the past years, We had base pure Front-End frameworks like React, Angular, and Vue, all of them provide
        client-side
        rendering(Single Page Application), then we discovered our needs for different renders modes. We had different
        renders
        modes and different frameworks support each one of them, but the problem many developers can’t quite wrap their
        head
        around when to build an app as a pure SPA and when it’s better to use an SSR or SSG.</p>
    <p>&nbsp;</p>
    <p>It’s clear that there is no sense to use an SSR framework for building a todo app, as it makes no sense to build
        your
        blog as pure SPA, or maybe there is? This is the thing. It feels that there is a gray area on when to use what.
        which
        approach would be the best to use for building an app?</p>
</div>