<div class="container">
    <h1>Gray Area on When to use Different Rendering Modes CSR, SSR, SSG</h1>
    <img src="https://miro.medium.com/max/1400/1*XaG_-nWoWTKqdN8lAKeIxg.jpeg" alt="">

    <h1>SSG:</h1>
    <p>The SSG approach is good for building applications that the content does not change too often — sites that the content
    does not have to change depending on the user, and sites that do not have a lot of user-generated content. An example of
    such a site is a blog or Public content or a personal website.</p>
</div>