<div class="container">
    <h1>Gray Area on When to use Different Rendering Modes CSR, SSR, SSG</h1>
    <img src="https://miro.medium.com/max/1400/1*XaG_-nWoWTKqdN8lAKeIxg.jpeg" alt="">

    <h1>SSR:</h1>
    <p>The SSR approach is good for building complex web applications that require user interaction, rely on a database,
        or
        where the content changes very often. This is because content on these sites changes very often and the users
        need to
        see the updated content as soon as they’re updated. It is also good for applications that have tailored content
        depending on who is viewing it and applications where you need to store user-specific data like email and user
        preference while also catering for SEO. An example of this is a large e-commerce platform or a social media
        site.</p>
</div>